/*Generales*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgba(224, 224, 196, 0.801);
}

img {
    max-width: 100%;
}

li,
ul {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.contenedor {
    width: 95%;
    margin: 10rem auto;

    @media(max-width: 600px) {
        width: 95%;
        margin: 5rem auto;
    }


}

//barra de busqueda con el filtro de departamento y tipo de sitio
.cajaOpciones {
    display: flex;
    padding: 1rem;
    background-color: rgb(70, 219, 219);
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;

    .imputBusqueda {
        width: 70%;

        input {
            height: 3rem;

            &:first-of-type {
                width: 80%;
            }

            &:not(:first-of-type) {
                width: 19%;
            }
        }
    }

    div {
        padding: .8rem;

        &:not(:first-of-type) {
            width: 30%;
        }
    }

    select {
        width: 49%;
    }
}

//Restulados de la busqueda
.cajaResultados {
    text-decoration: none;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .opcionDestino {
            list-style: none;
            background-color: rgba(70, 219, 219, 0.308);
            margin: 1rem;
            border-radius: 1rem;

            img {
                width: 100%;
            }

            div {
                padding: 1rem;
                text-align: center;
            }
        }
    }
}

//MAPA
.cajaMapaInteractivo {
    display: grid;
    grid-column: 1fr 3fr;

    .mapa {
        position: relative;
        width: 95%;
        margin: auto;
        height: 500px;

        #map {
            //tengo que ponerle absolute porque por defecto trae relative y no me lo muestra
            // position: absolute;
            padding: 2rem;
            width: 100%;
            height: 100%;
        }
    }
}