:root {
    --primario: rgb(241, 241, 241);
    --secundario: rgb(70, 219, 219);
    --terciario: rgb(106, 164, 233);
}

/*Generales*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100%;
    //background-color: var(--terciario);
    display: grid;
    grid-template-columns: 10% auto;

    nav {
        position: fixed;
        height: 100%;
        background-color: var(--primario);

        ul {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-row: auto;
            padding: 0 1rem;
            margin-left: 1rem;

            li {
                justify-content: center;
                align-content: center;
                display: flex;
                align-items: center;
            }
        }
    }
}

img {
    max-width: 100%;
}

li,
ul {
    text-decoration: none;
    list-style: none;
    padding: 0;

}

a {
    text-decoration: none;
    list-style: none;

}

.contenedor {
    // width: 95%;
    margin: auto;

    @media(max-width: 600px) {
        width: 95%;
        margin: 5rem auto;
    }

    .contenido {
        grid-column: 2/3;
    }


}

//barra de busqueda con el filtro de departamento y tipo de sitio
.cajaOpciones {
    display: flex;
    padding: 1rem;
    background-color: var(--primario);
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;

    .imputBusqueda {
        width: 70%;

        input {
            height: 3rem;

            &:first-of-type {
                width: 80%;
            }

            &:not(:first-of-type) {
                width: 19%;
            }
        }
    }

    div {
        padding: .8rem;

        &:not(:first-of-type) {
            width: 30%;
        }
    }

    select {
        width: 49%;
    }
}

//Restulados de la busqueda
.cajaResultados {
    text-decoration: none;

    .resultadoBusqueda {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .opcionDestino {
            background-color: var(--primario);
            margin: 1rem;
            border-radius: 1rem;

            h1:hover {
                color: var(--terciario);
            }

            img {
                width: 100%;
            }

            div {
                padding: 1rem;
                text-align: center;
            }
        }
    }

    .loSentimos {
        grid-column: 1/4;
        font-size: 4rem;
        text-align: center;
        padding: 1rem;
        margin: 4rem 0;
    }
}

//MAPA
.sectionMapa {

    .cajaMapaInteractivo {
        display: grid;
        grid-template-columns: 1fr 3fr;

        .listaMenu {
            overflow-y: scroll;
            height: 500px;

        }

        .mapa {
            position: relative;
            width: 95%;
            margin: auto;
            height: 500px;

            #map {
                //tengo que ponerle absolute porque por defecto trae relative y no me lo muestra
                // position: absolute;
                padding: 2rem;
                width: 100%;
                height: 100%;
            }
        }
    }
}