:root {
  --primario: rgb(241, 241, 241);
  --secundario: rgb(70, 219, 219);
  --terciario: rgb(106, 164, 233); }

/*Generales*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /** Reset para REMS - 62.5% = 10px de 16px **/
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10% auto; }
  body nav {
    position: fixed;
    height: 100%;
    background-color: var(--primario); }
    body nav ul {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-row: auto;
      padding: 0 1rem;
      margin-left: 1rem; }
      body nav ul li {
        justify-content: center;
        align-content: center;
        display: flex;
        align-items: center; }

img {
  max-width: 100%; }

li,
ul {
  text-decoration: none;
  list-style: none;
  padding: 0; }

a {
  text-decoration: none;
  list-style: none; }

.contenedor {
  margin: auto; }
  @media (max-width: 600px) {
    .contenedor {
      width: 95%;
      margin: 5rem auto; } }
  .contenedor .contenido {
    grid-column: 2/3; }

.cajaOpciones {
  display: flex;
  padding: 1rem;
  background-color: var(--primario);
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between; }
  .cajaOpciones .imputBusqueda {
    width: 70%; }
    .cajaOpciones .imputBusqueda input {
      height: 3rem; }
      .cajaOpciones .imputBusqueda input:first-of-type {
        width: 80%; }
      .cajaOpciones .imputBusqueda input:not(:first-of-type) {
        width: 19%; }
  .cajaOpciones div {
    padding: .8rem; }
    .cajaOpciones div:not(:first-of-type) {
      width: 30%; }
  .cajaOpciones select {
    width: 49%; }

.cajaResultados {
  text-decoration: none; }
  .cajaResultados .resultadoBusqueda {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .cajaResultados .resultadoBusqueda .opcionDestino {
      background-color: var(--primario);
      margin: 1rem;
      border-radius: 1rem; }
      .cajaResultados .resultadoBusqueda .opcionDestino h1:hover {
        color: var(--terciario); }
      .cajaResultados .resultadoBusqueda .opcionDestino img {
        width: 100%; }
      .cajaResultados .resultadoBusqueda .opcionDestino div {
        padding: 1rem;
        text-align: center; }
  .cajaResultados .loSentimos {
    grid-column: 1/4;
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
    margin: 4rem 0; }

.sectionMapa .cajaMapaInteractivo {
  display: grid;
  grid-template-columns: 1fr 3fr; }
  .sectionMapa .cajaMapaInteractivo .listaMenu {
    overflow-y: scroll;
    height: 500px; }
  .sectionMapa .cajaMapaInteractivo .mapa {
    position: relative;
    width: 95%;
    margin: auto;
    height: 500px; }
    .sectionMapa .cajaMapaInteractivo .mapa #map {
      padding: 2rem;
      width: 100%;
      height: 100%; }
